# Server runtime
SERVER/uploads/

# Node modules
node_modules/
*/node_modules/

# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Cache
.cache/
dist/

# Coverage
coverage/

# Optional: lock files (tuỳ team)
# package-lock.json
# yarn.lock

combine.js
combine_for_ai.js
AI_Context_Project.txt
clean_and_format.js

*COMBINE_FOR_AI*